body > main
{
	overflow: hidden;
}

/* This is what will allow the cards to maintain the correct aspect ratio. */
.card
{
	border-radius: 0.25rem;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
	height: 0;
	padding-bottom: 60%;
	position: relative;
	width: 40%;
}

.card-content-wrapper
{
	bottom: 0;
	font-size: 1rem;
	font-weight: bold;
	left: 0;
	padding: 0.5rem;
	position: absolute;
	right: 0;
	top: 0;
}
	.card p
	{
		margin: 0;
	}

.black
{
	background-color: #000;
	color: #fff;
}

.white
{
	background-color: #fff;
	color: #000;
}